.offers_wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
    margin-top: 3em;
}

.filters_wrapper {
    display: flex;
    font-size: 2rem;
    justify-content: center;
    margin-top: 1em;
}

.filters_wrapper button {
    border: none;
    border-radius: .2em;
    padding: .3em 1em;
    margin: 0 .5em;
    background-color: #240833;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.offer {
    flex: 0 0 32%;
    margin-bottom: 20px;
    border-radius: 8px;
    padding: 1.5em;
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    gap: 1em;
    color: #000;
}

.offer_title {
    font-size: 1.7rem;
}

.offer_rating {
    display: flex;
    align-items: center;
    font-size: 1.3rem;
}
.rating {
    padding: .5em;
    background-color: #240833;
    color: #fff;
    font-weight: bold;
    border-radius: 8px;
    margin-right: .5em;
}

@media (max-width:650px) {
    .offer {
        flex: 0 0 49%;
    }
}