@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
body {
  margin: 0;
  font-family: "Jost", sans-serif;
}
html {
  font-size: 10px;
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  width: auto;
  height: auto;
}

a {
  color: #fff;
  text-decoration: none;
}

h1 {
  font-size: 4.5rem;
}

h3 {
  font-size: 2rem;
  font-weight: 400;
}

.img_filter {
  filter: brightness(.35);
  height: 100%;
  overflow: hidden;
  border-radius: 8px;
}
.img_filter img{
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  transition: all .25s ease;
}

.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

@media(max-width:650px) {
  h1 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.5rem;
  }
}